@model GastroByte.Dtos.ReservaDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<!DOCTYPE HTML>
<html>
<head>
    <!-- Aquí puedes incluir tus estilos y scripts si es necesario -->
</head>
<body>

    <div class="gtco-loader"></div>

    <div id="page">
        <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url('@Url.Content("~/images/img_bg_1.jpg")')" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">
                        <div class="row row-mt-15em">
                            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                                <span class="intro-text-small">SOFTWARE 2024 </span>
                                <h1 class="cursive-font">¡Todo en buen gusto!</h1>
                            </div>
                            <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                                <div class="form-wrap">
                                    <div class="tab">
                                        <div class="tab-content">
                                            <div class="tab-content-inner active" data-content="signup">
                                                <h3 class="cursive-font">Reservación de Mesa</h3>

                                                <!-- Inicia el formulario -->
                                                @using (Html.BeginForm())
                                                {
                                                    @Html.AntiForgeryToken()

                                                    <div class="form-group">
                                                        @Html.Label("N° Personas:")
                                                        @Html.EditorFor(model => model.numero_personas, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.numero_personas, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.Label("Mesa:")
                                                        @Html.EditorFor(model => model.mesa, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.mesa, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.Label("Nombre:")
                                                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.Label("Gmail:")
                                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="date">Fecha</label>
                                                        <input type="date" id="date" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="time">Hora</label>
                                                        <input type="time" id="time" class="form-control">
                                                    </div>

                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <input type="submit" class="btn btn-primary btn-block" value="Reservar Ahora">
                                                        </div>
                                                    </div>
                                                }
                                                <!-- Fin del formulario -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2 class="cursive-font primary-color">Platos Populares</h2>
                        <p>Texto Ejemplo.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="@Url.Content("~/Content/images/img_1.jpg")" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="@Url.Content("~/Content/images/img_1.jpg")" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>Champiñones Frescos</h2>
                                <p>Texto Ejemplo.</p>
                                <p><span class="price cursive-font">$19.15</span></p>
                            </div>
                        </a>
                    </div>
                    <!-- Repite para otros platos... -->
                </div>
            </div>
        </div>

        <!-- Continúa con el resto del contenido como "Nuestros Servicios" y "Testimonios" -->
        <div id="gtco-features">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2 class="cursive-font">Nuestros Servicios</h2>
                        <p>Texto Ejemplo.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i class="ti-face-smile"></i>
                            </span>
                            <h3>Personas Felices</h3>
                            <p>Texto Ejemplo.</p>
                        </div>
                    </div>
                    <!-- Repite para otros servicios... -->
                </div>
            </div>
        </div>

        <div class="gtco-cover gtco-cover-sm" style="background-image: url('@Url.Content("~/Content/images/img_bg_1.jpg")')" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container text-center">
                <div class="display-t">
                    <div class="display-tc">
                        <h1>&ldquo; ¡Su alta calidad de servicio me hace volver una y otra vez! &rdquo;</h1>
                        <p>&mdash; Oscar Paternina.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="gtco-counter" class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2 class="cursive-font">Contador</h2>
                        <p>Texto Ejemplo.</p>
                    </div>
                </div>
                <!-- Continúa con el resto del contenido aquí -->
            </div>
        </div>
    </div>
</body>
</html>
