@model GastroByte.Dtos.ReservaDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <!-- Aquí puedes incluir tus estilos y scripts si es necesario -->
</head>
<body>

    <div class="gtco-loader"></div>

    <div id="page">
        <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url('@Url.Content("~/images/img_bg_1.jpg")')" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">
                        <div class="row row-mt-15em">
                            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                                <span class="intro-text-small">SOFTWARE 2024 </span>
                                <h1 class="cursive-font">¡Todo en buen gusto!</h1>
                            </div>

                            

                            <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                                <div class="form-wrap">
                                    <div class="tab">
                                        <div class="tab-content">
                                            <div class="tab-content-inner active" data-content="signup">
                                                <h3 class="cursive-font">Reservación de Mesa</h3>

                                                <!-- Inicia el formulario -->
                                                @using (Html.BeginForm())
                                                {
                                                    @Html.AntiForgeryToken()

                                                    <div class="form-group">
                                                        @Html.Label("N° Personas:")
                                                        @Html.EditorFor(model => model.numero_personas, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.numero_personas, "", new { @class = "text-danger" })
                                                    </div>



                                                    <div class="form-group">
                                                        @Html.Label("N.Documento:")
                                                        @Html.EditorFor(model => model.documento, new
                                                        {
                                                            htmlAttributes = new
                                                            {
                                                                @class = "form-control",
                                                                @pattern = "^[0-9]+$",
                                                                @title = "Solo se permiten números"
                                                            }
                                                        })
                                                        @Html.ValidationMessageFor(model => model.documento, "", new { @class = "text-danger" })
                                                    </div>


                                                    <div class="form-group">
                                                        @Html.Label("Nombre:")
                                                        @Html.EditorFor(model => model.nombre, new
                                                        {
                                                            htmlAttributes = new
                                                            {
                                                                @class = "form-control",
                                                                @pattern = "^[a-zA-Z\\s]+$",
                                                                @title = "Solo se permiten letras"
                                                            }
                                                        })
                                                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                                    </div>


                                                    <div class="form-group">
                                                        @Html.Label("Gmail:")
                                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.Label("Fecha:")
                                                        @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                                        @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.Label("Hora:")
                                                        @Html.EditorFor(model => model.hora, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
                                                        @Html.ValidationMessageFor(model => model.hora, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <input type="submit" class="btn btn-primary btn-block" value="Reservar Ahora">
                                                        </div>
                                                    </div>
                                                }
                                                <!-- Fin del formulario -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2 class="cursive-font primary-color">Popular Dishes</h2>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="~/Content/images/img_12.jpg" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="~/Content/images/img_12.jpg" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>Hamburguesa</h2>
                                <p>Hamburguesa clásica con carne jugosa, queso cheddar, lechuga fresca, tomate, cebolla caramelizada y mayonesa en pan brioche tostado.</p>
                                <p><span class="price cursive-font">$30.000</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="~/Content/images/img_13.jpg" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="~/Content/images/img_13.jpg" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>SalchiPapa</h2>
                                <p>Salchipapa con papas crujientes, salchicha jugosa, bañada en salsas de queso, mayonesa y ketchup, con topping de cebolla y ají.</p>
                                <p><span class="price cursive-font">$20.000</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="~/Content/images/img_14.jpg" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="~/Content/images/img_14.jpg" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>Paella</h2>
                                <p>Paella con mariscos frescos, pollo tierno, chorizo, pimientos y azafrán, en arroz aromático condimentado, cocida en su punto perfecto.   </p>
                                <p><span class="price cursive-font">$48.000</span></p>

                            </div>
                        </a>
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="~/Content/images/img_15.jpg" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="~/Content/images/img_15.jpg" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>Arroz Con Pollo</h2>
                                <p>Arroz con pollo tierno, verduras frescas, pimientos y un toque de cilantro, cocido en caldo casero.</p>
                                <p><span class="price cursive-font">$12.000</span></p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="~/Content/images/img_16.jpg" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="~/Content/images/img_16.jpg" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>CupCake</h2>
                                <p>Cupcake esponjoso con vainilla, cubierto de crema suave y decorado con chispas de colores.</p>
                                <p><span class="price cursive-font">$4.000</span></p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="~/Content/images/img_18.jpg" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="~/Content/images/img_18.jpg" alt="Image" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>Tacos Al Pastor</h2>
                                <p>tortillas suaves con carne marinada en adobo, piña, cebolla y cilantro, servidos con salsa picante.</p>
                                <p><span class="price cursive-font">$11.000</span></p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <!-- Continúa con el resto del contenido como "Nuestros Servicios" y "Testimonios" -->
        <div id="gtco-features">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2 class="cursive-font">Quienes Somos</h2>
                        <p>Oscar Paternina y Juan Cano.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="gtco-cover gtco-cover-sm" style="background-image: url('@Url.Content("~/Content/images/img_bg_1.jpg")')" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="gtco-container text-center">
                <div class="display-t">
                    <div class="display-tc">
                        <h1>&ldquo; Dos estudiantes de la Universidad De Cundinamarca apasionados por la programacion con la meta de cada dia superarse, aprender mas y ser cada dia mejores  &rdquo;</h1>
                    </div>
                </div>
            </div>
        </div>

        <div id="gtco-counter" class="gtco-section">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                        <h2 class="cursive-font">"Transforma tu experiencia gastronómica con la comodidad de Gastro Byte. ¡Reserva, disfruta y repite!"</h2>
                        
                    </div>
                </div>
                <!-- Continúa con el resto del contenido aquí -->
            </div>
        </div>
    </div>

</body>
</html>
