@model GastroByte.Dtos.ReservaDto
@{
    ViewBag.Title = "Crear Reserva";
    Layout = "~/Views/Shared/_Layout_cliente.cshtml";
}

<h2 class="text-center">Crear Reserva</h2>

<div class="container mt-4">
    <div class="col-md-6 offset-md-3">
        <div class="form-wrap">
            <!-- Inicia el formulario -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group mb-3">
                    @Html.Label("N° Personas:", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.numero_personas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.numero_personas, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mb-3">
                    @Html.Label("N.Documento:", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.documento, new
                    {
                        htmlAttributes = new { @class = "form-control", @readonly = "readonly" }
                    })
                    @Html.ValidationMessageFor(model => model.documento, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mb-3">
                    @Html.Label("Nombre:", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.nombre, new
                    {
                        htmlAttributes = new { @class = "form-control", @readonly = "readonly" }
                    })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mb-3">
                    @Html.Label("Correo Electrónico:", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.email, new
                    {
                        htmlAttributes = new { @class = "form-control", @readonly = "readonly" }
                    })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mb-3">
                    @Html.Label("Fecha:", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mb-3">
                    @Html.Label("Hora:", htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.hora, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
                    @Html.ValidationMessageFor(model => model.hora, "", new { @class = "text-danger" })
                </div>

                <div class="form-group text-center mt-4">
                    <input type="submit" class="btn btn-primary w-100" value="Reservar Ahora">
                </div>
            }
            <!-- Fin del formulario -->
        </div>
    </div>
</div>
