@model IEnumerable<GastroByte.Dtos.MenuDto>
@using GastroByte.Services
@{
    ViewBag.Title = "Lista de Menus";
    Layout = "~/Views/Shared/_Layout_cliente.cshtml";
    var carritoService = new CarritoService();
}

<h2>Lista de Menus</h2>

<div class="mb-3">
    <a href="@Url.Action("IndexCarrito", "Cliente")" class="btn btn-success">Ver Carrito</a>
    <button id="btn-limpiar-carrito" class="btn btn-danger" data-url="@Url.Action("LimpiarCarrito", "Cliente")">Limpiar Carrito</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID Platillo</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model)
        {
            <tr>
                <td>@menu.id_platillo</td>
                <td>@menu.nombre_platillo</td>
                <td>@menu.descripcion</td>
                <td>@menu.precio</td>
                <td>
                    <button class="btn btn-primary btn-agregar"
                            data-id="@menu.id_platillo"
                            data-url="@Url.Action("AgregarAlCarrito", "Cliente")">
                        Agregar al Carrito
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal para mostrar mensajes -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confirmationModalMessage"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>


