@model GastroByte.Dtos.MenuDto

@{
    ViewBag.Title = "Editar Menu";
    Layout = "~/Views/Shared/_Layout_asistente.cshtml";
}

<h2>Editar Menu</h2>

@using (Html.BeginForm("EditMenu", "Asistente", FormMethod.Post))
{
    @Html.AntiForgeryToken() <!-- Aquí agregamos el token de verificación -->

    @Html.HiddenFor(m => m.id_platillo)

    <div class="form-group">
        @Html.LabelFor(m => m.nombre_platillo)
        @Html.TextBoxFor(m => m.nombre_platillo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.nombre_platillo)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.descripcion)
        @Html.TextBoxFor(m => m.descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.descripcion)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.precio)
        @Html.TextBoxFor(m => m.precio, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.precio)
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a href="@Url.Action("IndexMenu", "Asistente")" class="btn btn-secondary">Cancelar</a>
}
