@model IEnumerable<GastroByte.Dtos.ReservaDto>

@{
    ViewBag.Title = "Reservas";
    Layout = "~/Views/Shared/_Layout_asistente.cshtml";
}

<h2>Lista de Reservas</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID Reservación</th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
            <tr>
                <td>@reserva.id_reservacion</td>
                <td>@reserva.documento</td>
                <td>@reserva.nombre</td>
                <td>@reserva.email</td>
                <td>@reserva.fecha.ToString("yyyy-MM-dd")</td>
                <td>@reserva.hora</td>
                <td>
                    <a href="@Url.Action("EditReserva", "Asistente", new { id = reserva.id_reservacion })" class="btn btn-success">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>